<table class="table table-dark" id=list-table>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Lists</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
<% @lists.each do |list| %>
    <tbody>
      <tr>
        <th scope="row"><%= list.title %></th>
        <td><%= link_to 'Show', list, class: 'list-table-data' %></td>
        <td><%= link_to 'Edit', edit_list_path(list), class: 'list-table-data'  %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'list-table-data'  %></td>
      </tr>
    </tbody>
<% end %>
</table>

<br />

<%= button_to 'New List', new_list_path, method: :get, class: "btn btn-dark", id: 'new-list-btn'%>
