<p id="notice"><%= notice %></p>

<p id='list-title'>
  <%= @list.title %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %><br>
<%= button_to 'View Tasks', list_tasks_path(@list), method: :get, class: 'btn btn-dark' , id: 'list-btn' %><br>
